<p>Titre = {{titre}}</p>

<form ngForm (submit) = "onSubmit(); assignmentForm.reset()" #assignmentForm>
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir"  name="nom" placeholder="Nom du devoir">
    </mat-form-field>
    <p>{{nomDevoir}}</p>

    <mat-form-field appearance="fill">
        <input matInput
            matInput [matDatepicker]="picker" placeholder="Date de rendu"
            [(ngModel)]="dateDeRendu" name="date" required>
        
        
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" [disabled]="!ajoutActive">
        Ajouter un devoir
    </button>
</form>

<div *ngFor="let assignment of assignments">
    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
        Devoir intitulé {{assignment.nom}}, rendu le
        {{assignment.dateDeRendu}}.
    </p>
    <ng-template #nonsoumis>
        Le devoir {{assignment.nom}} à rendre le {{assignment.dateDeRendu}} n'a pas été rendu.
    </ng-template>
</div>