.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

mat-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

